<div class="main-div">
  <div class="text-content">
    <div class="font">Binvenue sur notre application </div>
    <div class="text-div">Scannez le code </div>
  </div>
  <div class="contain-img">
    <ion-img class="img" src="assets/QR_code12.png"></ion-img>
  </div>

  <div class="cont">
    <div class='spacer'></div>
    <div class='anim-box center spacer'>
      <!-- empty first child used for corners -->
      <div></div>
      <div class='scanner'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-md'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-md'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-lg'></div>
      <div class='anim-item anim-item-sm'></div>
      <div class='anim-item anim-item-md'></div>
    </div>
  </div>

</div>
